@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #010c0c; }





@media only screen and (max-width: 991px) {
  .navbar-expand-lg .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.507);
    margin-top: 30px;
    border-radius: 6px; }
  .navbar {
    transform: translateY(-1%); }
  .box-text {
    transform: translate(-50%, 70%); } }

.bg-image {
  background-image: url("../imagenes/faros.jpg");
  filter: grayscale 80%;
  -webkit-filter: grayscale(80%);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover; }

.box-text {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 2px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center; }

.box-text__titulo {
  font-size: 50px; }

.IndexHead {
  width: 90%;

  display: flex;
  flex-direction: row; 
background-color: #000;
height: 100px;}



  /* Menu */


.navbar {
  /* position: absolute;
    transform: translateY(50%);
    z-index: 2; */
  display: flex;
  justify-content: left;
  font-size: 1.3em;
  font-weight: 600;
color: #f1f1f1; }

.navbar-nav {
  justify-items: center;
  margin-top: 20px; }

  .navbar-nav .nav-item {
    margin-right: 10px;
    margin-left: 10px; }

.navbar-toggler {
  font-size: 1.8em; }

.navbar-nav .nav-link {
  padding-right: 8px;
  padding-left: 8px; }

.navbar-brand {
  margin-left: 25px;
  font-size: 2.1rem;
  margin-top: 20px; }

.dropdown-menu {
  background-color: #ffc10796; }

.dropdown-item {
  font-size: 1.2rem;
  font-weight: 600; }

.navbar-toggler {
  font-size: 1.2em; }


  /* iconos redes sociales - Top */

.iconosHead__lista {
  margin: auto;
  display: flex;
  justify-content: center;
  
  list-style: none; }

.iconosHead a {
  color: #02000c; }

.iconosHead__social {
  padding: 20px; }

.contenedor {
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px; }

.caja {
  background-color: #03032579;
  border-radius: 8px;
  border: solid 2px rgba(248, 246, 231, 0.699);
  display: flex;
  align-items: center; }

.caja__img {
  width: 300px;
  height: 250px;
  border-radius: 30px;
  padding: 20px; }

.caja__titulo {
  color: antiquewhite;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding: 15px; }

.caja__texto {
  font-size: 20px;
  color: antiquewhite;
  padding: 20px; }

.cajaSubtitulo {
  color: antiquewhite;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px; }

.cajaSubtitulo__texto {
  font-size: 22px;
  letter-spacing: 2px;
  margin-top: 30px; }

.BotonIndex {
  display: flex;
  justify-content: center;
  transform: translateY(-250px); }

.BotonIndex__btn {
  color: #000;
  border: solid 1px black;
  background-color: #f4f4ee88;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px; }

.BotonIndex__btn:hover {
  background-color: rgba(226, 198, 43, 0.664); }

